# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: opentelemetry-collector
  namespace: argocd
spec:
  project: homelab
  sources:
    # https://artifacthub.io/packages/helm/opentelemetry-helm/opentelemetry-collector
    - repoURL: https://open-telemetry.github.io/opentelemetry-helm-charts
      chart: opentelemetry-collector
      targetRevision: 0.143.1
      helm:
        releaseName: opentelemetry-collector
        valuesObject:
          mode: deployment
          image:
            repository: otel/opentelemetry-collector-contrib
          serviceMonitor:
            enabled: true

          # https://opentelemetry.io/docs/platforms/kubernetes/helm/collector/#presets
          presets:
            hostMetrics:
              enabled: true
            kubeletMetrics:
              enabled: true
            kubernetesAttributes:
              enabled: true
            kubernetesEvents:
              enabled: true
            clusterMetrics:
              enabled: true
            logsCollection:
              enabled: true
              includeCollectorLogs: true

          config:
            receivers:
              #   jaeger: null
              #   zipkin: null
              prometheus:
                config:
                  scrape_configs:
                    - job_name: target-allocator
                      target_allocator:
                        endpoint: http://opentelemetry-target-allocator.monitoring.svc.cluster.local:8080/targets
                        interval: 30s
                        collector_id: collector-1
                    - job_name: annotation-discovery
                      kubernetes_sd_configs:
                        - role: pod
                      relabel_configs:
                        - source_labels:
                            [
                              __meta_kubernetes_pod_annotation_prometheus_io_scrape,
                            ]
                          action: keep
                          regex: true
                        - source_labels:
                            [
                              __meta_kubernetes_pod_annotation_prometheus_io_path,
                            ]
                          action: replace
                          target_label: __metrics_path__
                          regex: (.+)
                        - source_labels:
                            [
                              __meta_kubernetes_pod_annotation_prometheus_io_scheme,
                            ]
                          action: replace
                          regex: (https?)
                          target_label: __scheme__
                        - source_labels:
                            [
                              __address__,
                              __meta_kubernetes_pod_annotation_prometheus_io_port,
                            ]
                          action: replace
                          regex: ([^:]+)(?::\d+)?;(\d+)
                          replacement: $$1:$$2
                          target_label: __address__
                        - source_labels: [__meta_kubernetes_namespace]
                          action: replace
                          target_label: namespace
                        - source_labels: [__meta_kubernetes_pod_name]
                          action: replace
                          target_label: pod

            processors:
              batch: {}
              # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor
              resourcedetection:
                detectors: [env, system]
              logdedup:
                interval: 1s
                conditions:
                  - severity_number >= SEVERITY_NUMBER_ERROR
                  - attributes["log.type"] == "connection"
                exclude_fields:
                  - attributes.request_id
                  - attributes.timestamp

            exporters:
              otlphttp/loki:
                endpoint: http://loki-gateway.monitoring.svc.cluster.local/otlp
              # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/prometheusremotewriteexporter/README.md
              prometheusremotewrite:
                endpoint: http://prometheus-operated.monitoring.svc.cluster.local:9090/api/v1/write
                resource_to_telemetry_conversion:
                  enabled: true

            service:
              pipelines:
                logs:
                  processors: [logdedup, batch, resourcedetection]
                  exporters: [otlphttp/loki]
                metrics:
                  processors: [batch, resourcedetection]
                  exporters: [prometheusremotewrite]

    # https://artifacthub.io/packages/helm/opentelemetry-helm/opentelemetry-target-allocator
    - repoURL: https://open-telemetry.github.io/opentelemetry-helm-charts
      chart: opentelemetry-target-allocator
      targetRevision: 0.126.10
      helm:
        releaseName: opentelemetry-target-allocator
        valuesObject: {}

  destination:
    name: in-cluster
    namespace: monitoring
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
