apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - namespace.yaml

helmCharts:
  # https://artifacthub.io/packages/helm/prometheus-community/prometheus-operator-crds
  # - repo: oci://ghcr.io/prometheus-community/charts
  #   name: prometheus-operator-crds
  #   version: 27.0.0
  #   releaseName: prometheus-operator-crds

  # https://artifacthub.io/packages/helm/opentelemetry-helm/opentelemetry-collector
  - repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    name: opentelemetry-collector
    version: 0.143.1
    releaseName: opentelemetry-collector
    valuesFile: opentelemetry-collector-values.yaml

  # https://artifacthub.io/packages/helm/opentelemetry-helm/opentelemetry-target-allocator
  - repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    name: opentelemetry-target-allocator
    version: 0.126.10
    releaseName: opentelemetry-target-allocator
