# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: homelab
  sources:
    # https://artifacthub.io/packages/helm/cert-manager/cert-manager
    - repoURL: oci://quay.io/jetstack/charts/cert-manager
      path: .
      targetRevision: 1.19.2
      helm:
        releaseName: cert-manager
        valuesObject:
          crds:
            enabled: true
          serviceAccount:
            annotations:
              azure.workload.identity/client-id: e9c44962-2ddb-4761-b8d5-a34e3d82d6ff
              azure.workload.identity/tenant-id: ff2b9041-8733-4fbd-a4e6-23f30567c4a4
          config:
            logging:
              format: json
          prometheus:
            servicemonitor:
              enabled: true

    - repoURL: https://github.com/damienpontifex/homelab.git
      path: apps/cert-manager/cluster-issuers
      targetRevision: HEAD
  destination:
    name: in-cluster
    namespace: cert-manager
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
