apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    app.kubernetes.io/name: argocd
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: argocd
spec:
  chart: oci://ghcr.io/argoproj/argo-helm/argo-cd
  version: 9.1.6
  targetNamespace: argocd
  valuesContent: |
    server:
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          ingress.kubernetes.io/ssl-redirect: "false"
        tls: false
# ---
# apiVersion: v1
# kind: PersistentVolume
# metadata:
#   name: argocd-apps
# spec:
#   storageClassName: local-path
#   capacity:
#     storage: 1Gi
#   accessModes:
#     - ReadWriteOnce
#   hostPath:
#     path: /apps
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: argocd-apps
#   namespace: argocd
# spec:
#   storageClassName: local-path
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 10Mi
