apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    app.kubernetes.io/name: argocd
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-repo
  namespace: argocd
spec:
  storageClassName: local-path
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /workspace/argocd_repo
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: local-repo-claim
  namespace: argocd
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
  volumeName: local-repo
---
# yaml-language-server: $schema=
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: argocd
spec:
  # https://artifacthub.io/packages/helm/argo-cd-oci/argo-cd
  chart: oci://ghcr.io/argoproj/argo-helm/argo-cd
  # renovate: datasource=helm registryUrl=https://argoproj.github.io/argo-helm depName=argo-cd
  version: 9.2.0
  targetNamespace: argocd
  valuesContent: |-
    global:
      domain: localhost
      podLabels:
        azure.workload.identity/use: "true"
    configs:
      params:
        # Disable HTTPS for simplicity in local dev
        server.insecure: true
      rbac:
        "policy.default": role:admin
        policy.csv: |
          p, role:admin, applications, *, */*, allow
          p, role:admin, appprojects, *, */*, allow
      cm:
        url: http://localhost:8081/argocd
        users.anonymous.enabled: "true"
        # Reduce polling interval to 15 seconds for local dev
        timeout.reconciliation: 15s
        oidc.config: |
          name: Azure
          issuer: https://login.microsoftonline.com/ff2b9041-8733-4fbd-a4e6-23f30567c4a4/v2.0
          clientID: ea227ff8-7b75-4f0f-83a9-7638e949faf3
          azure:
            useWorkloadIdentity: true
          requestedScopes:
            - openid
            - profile
            - email
          requestedIDTokenClaims:
            groups:
              essential: false
        kustomize.buildOptions: "--enable-helm"
    server:
      extraArgs:
        - --rootpath=/argocd
        - --basehref=/argocd/
      ingress:
        enabled: true
        path: /argocd
        ingressClassName: traefik
        annotations:
          ingress.kubernetes.io/ssl-redirect: "false"
        tls: false
      serviceAccount:
        annotations:
          azure.workload.identity/client-id: 8d147af7-6f35-47c9-ab7c-300c702795a5
    repoServer:
      volumeMounts:
        - name: local-repo
          mountPath: /tmp/local-repo
          readOnly: true
      volumes:
        - name: local-repo
          persistentVolumeClaim:
            claimName: local-repo-claim
---
# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homelab
  namespace: argocd
spec:
  project: default
  source:
    repoURL: file:///tmp/local-repo
    path: apps/
    directory:
      recurse: true
  destination:
    name: in-cluster
    namespace: default
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
    retry:
      limit: 2
      backoff:
        duration: "5s"
        factor: 2
        maxDuration: "3m"
