apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    app.kubernetes.io/name: argocd
---
# yaml-language-server: $schema=
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: argocd
spec:
  # https://artifacthub.io/packages/helm/argo-cd-oci/argo-cd
  chart: oci://ghcr.io/argoproj/argo-helm/argo-cd
  # renovate: datasource=helm registryUrl=https://argoproj.github.io/argo-helm depName=argo-cd
  version: 9.1.9
  targetNamespace: argocd
  valuesContent: |
    global:
      domain: localhost
    configs:
      params:
        # Disable HTTPS for simplicity in local dev
        server.insecure: true
    server:
      extraArgs:
        - --rootpath=/argocd
        - --basehref=/argocd/
      ingress:
        enabled: true
        path: /argocd
        ingressClassName: traefik
        annotations:
          ingress.kubernetes.io/ssl-redirect: "false"
        tls: false

