apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    app.kubernetes.io/name: argocd
---
# yaml-language-server: $schema=
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: argocd
spec:
  # https://artifacthub.io/packages/helm/argo-cd-oci/argo-cd
  chart: oci://ghcr.io/argoproj/argo-helm/argo-cd
  # renovate: datasource=helm registryUrl=https://argoproj.github.io/argo-helm depName=argo-cd
  version: 9.2.0
  targetNamespace: argocd
  valuesContent: |
    global:
      domain: localhost
      podLabels:
        azure.workload.identity/use: "true"
    configs:
      params:
        # Disable HTTPS for simplicity in local dev
        server.insecure: true
      cm:
        url: http://localhost:8081/argocd
        users.anonymous.enabled: \"true\"
        oidc.config: |
          name: Azure
          issuer: https://login.microsoftonline.com/ff2b9041-8733-4fbd-a4e6-23f30567c4a4/v2.0
          clientID: ea227ff8-7b75-4f0f-83a9-7638e949faf3
          azure:
            useWorkloadIdentity: true
          requestedScopes:
            - openid
            - profile
            - email
          requestedIDTokenClaims:
            groups:
              essential: false
        kustomize.buildOptions: "--enable-helm"
    server:
      extraArgs:
        - --rootpath=/argocd
        - --basehref=/argocd/
      ingress:
        enabled: true
        path: /argocd
        ingressClassName: traefik
        annotations:
          ingress.kubernetes.io/ssl-redirect: "false"
        tls: false
      serviceAccount:
        annotations:
          azure.workload.identity/client-id: 8d147af7-6f35-47c9-ab7c-300c702795a5
