# yaml-language-server: $schema=https://github.com/grafana/loki/raw/refs/heads/main/production/helm/loki/values.schema.json
# https://grafana.com/docs/loki/latest/setup/install/helm/install-monolithic/
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
        chunks:
          period: 24h
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
  ruler:
    enable_api: true
  storage:
    type: s3
    s3:
      endpoint: http://rustfs-svc.rustfs.svc.cluster.local:9000
      secretAccessKey: rustfsadmin
      accessKeyId: rustfsadmin
      insecure: true
      s3ForcePathStyle: true
      region: ap-southeast-2
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler

minio:
  # We'll use rustfs as our S3-compatible object store, so we don't need MinIO
  enabled: false

deploymentMode: SingleBinary

singleBinary:
  replicas: 1

chunksCache:
  enabled: false
resultsCache:
  enabled: false

# Zero out replica counts of other deployment modes
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
