# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudflare-tunnel
  namespace: argocd
spec:
  project: homelab
  sources:
    - repoURL: https://github.com/damienpontifex/homelab.git
      path: apps/cloudflare-tunnel/resources
      targetRevision: HEAD
  destination:
    name: in-cluster
    namespace: cloudflare-tunnel
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
