# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/appproject-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: homelab
  namespace: argocd
spec:
  description: pontifex.dev Homelab
  # Allow manifests to deploy from any Git repos under damienpontifex GitHub account
  sourceRepos:
    - https://github.com/damienpontifex/*
  # Allow deployment to any namespace on the cluster
  destinations:
    - namespace: "*"
      server: "*"
---
# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homelab
  namespace: argocd
spec:
  project: homelab
  source:
    repoURL: https://github.com/damienpontifex/homelab
    path: apps/
    targetRevision: main
    directory:
      recurse: true
  destination:
    name: in-cluster
    namespace: default
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
