# yaml-language-server: $schema=https://github.com/grafana/k8s-monitoring-helm/raw/refs/heads/main/charts/k8s-monitoring/values.schema.json
cluster:
  name: homelab

destinations:
  - name: loki
    type: loki
    url: http://loki-gateway.monitoring.svc.cluster.local:3100
  - name: prometheus
    type: prometheus
    url: http://prometheus.monitoring.svc.cluster.local:9090

clusterMetrics:
  enabled: true
clusterEvents:
  enabled: true
nodeLogs:
  enabled: true
podLogs:
  enabled: true

alloy-logs:
  enabled: true
alloy-singleton:
  enabled: true
