# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kyverno
  namespace: argocd
spec:
  project: homelab
  sources:
    # https://artifacthub.io/packages/helm/kyverno/kyverno
    - repoURL: https://kyverno.github.io/kyverno/
      chart: kyverno
      targetRevision: 3.6.1
      helm:
        releaseName: kyverno
        valuesObject:
          grafana:
            enabled: true
            grafanaDashboard:
              enabled: true
    - repoURL: https://github.com/damienpontifex/homelab.git
      path: apps/kyverno/policies
      targetRevision: HEAD
  destination:
    name: in-cluster
    namespace: kyverno
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
