# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: homelab
  sources:
    # https://artifacthub.io/packages/helm/grafana-community/grafana
    - repoURL: https://grafana-community.github.io/helm-charts
      chart: grafana
      targetRevision: 11.0.1
      helm:
        releaseName: grafana
        valuesObject:
          datasources:
            datasources.yaml:
              apiVersion: 1
              datasources:
                - name: Loki
                  type: loki
                  access: proxy
                  url: http://loki:3100
                  isDefault: true

          # Ref: https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/
          grafana.ini: |
            # ========================================================================
            # Logging
            # ========================================================================
            [log]
            mode = console
            level = info
            [log.console]:
            format = json

          ingress:
            enabled: true
            className: traefik
            hosts:
              - grafana.home.pontifex.dev
            tls:
              - secretName: grafana-tls
                hosts:
                  - grafana.home.pontifex.dev

          sidecar:
            dashboards:
              enabled: true
            datasources:
              enabled: false

  destination:
    name: in-cluster
    namespace: monitoring
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
