datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      # https://grafana.com/docs/grafana/latest/datasources/loki/
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.monitoring.svc.cluster.local:3100
        isDefault: true
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server.monitoring.svc.cluster.local:9090
        isDefault: true

# Ref: https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/
grafana.ini:
  server:
    root_url: https://grafana.home.pontifex.dev/
  # ========================================================================
  # Logging
  # ========================================================================
  log:
    mode: console
    level: info
  log.console:
  format: json
  # ========================================================================
  # Authentication
  # https://grafana.com/docs/grafana/latest/setup-grafana/configure-access/configure-authentication/entraid/
  # ========================================================================
  auth.basic:
    enabled: false
  auth.azuread:
    enabled: true
    name: pontifex.dev
    client_id: ce700695-4e5c-4898-a6e9-4dc7bb00fbaa
    client_authentication: workload_identity
    federated_credential_audience: api://AzureADTokenExchange
    scopes: openid email profile
    auth_url: https://login.microsoftonline.com/ff2b9041-8733-4fbd-a4e6-23f30567c4a4/oauth2/v2.0/authorize
    token_url: https://login.microsoftonline.com/ff2b9041-8733-4fbd-a4e6-23f30567c4a4/oauth2/v2.0/token
    allowed_organizations: ff2b9041-8733-4fbd-a4e6-23f30567c4a4
    auto_login: true
    force_use_graph_api: true

serviceAccount:
  annotations:
    azure.workload.identity/client-id: ce700695-4e5c-4898-a6e9-4dc7bb00fbaa
    azure.workload.identity/tenant-id: ff2b9041-8733-4fbd-a4e6-23f30567c4a4

podLabels:
  azure.workload.identity/use: "true"

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - grafana.home.pontifex.dev
  tls:
    - secretName: grafana-tls
      hosts:
        - grafana.home.pontifex.dev

sidecar:
  dashboards:
    enabled: true
    searchNamespace: ALL
  datasources:
    enabled: false
    searchNamespace: ALL
