datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      # https://grafana.com/docs/grafana/latest/datasources/loki/
      - name: Loki
        type: loki
        access: proxy
        url: http://loki:3100
        isDefault: true

# Ref: https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/
grafana.ini:
  # ========================================================================
  # Logging
  # ========================================================================
  log:
    mode: console
    level: info
  log.console:
  format: json

ingress:
  enabled: true
  className: traefik
  hosts:
    - grafana.home.pontifex.dev
  tls:
    - secretName: grafana-tls
      hosts:
        - grafana.home.pontifex.dev

sidecar:
  dashboards:
    enabled: true
  datasources:
    enabled: false
