# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: homelab
  sources:
    # https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
    - repoURL: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
      path: .
      targetRevision: 81.2.2
      helm:
        releaseName: kube-prometheus-stack
        valuesObject:
          prometheus:
            ingress:
              enabled: true
              ingressClassName: traefik
              annotations:
                cert-manager.io/cluster-issuer: "letsencrypt-prod"
              paths:
                - /
              hosts:
                - prometheus.home.pontifex.dev
              tls:
                - secretName: prometheus-home-pontifex-dev-tls
                  hosts:
                    - prometheus.home.pontifex.dev
            prometheusSpec:
              retention: 15d
              storageSpec:
                volumeClaimTemplate:
                  spec:
                    accessModes:
                      - ReadWriteOnce
                    resources:
                      requests:
                        storage: 10Gi
          grafana:
            enabled: true
            ingress:
              enabled: true
              ingressClassName: traefik
              annotations:
                cert-manager.io/cluster-issuer: "letsencrypt-prod"
              paths:
                - /grafana
              hosts:
                - grafana.home.pontifex.dev
              tls:
                - secretName: grafana-home-pontifex-dev-tls
                  hosts:
                    - grafana.home.pontifex.dev
            operator:
              dashboardsConfigMapRefEnabled: true
              matchLabels:
                grafana_dashboard: "1"
          alertmanager:
            enabled: true
            ingress:
              enabled: true
              ingressClassName: traefik
              annotations:
                cert-manager.io/cluster-issuer: "letsencrypt-prod"
              paths:
                - /
              hosts:
                - alertmanager.home.pontifex.dev
              tls:
                - secretName: alertmanager-home-pontifex-dev-tls
                  hosts:
                    - alertmanager.home.pontifex.dev
  destination:
    name: in-cluster
    namespace: monitoring
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
