# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  sources:
    # https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
    - repoURL: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
      path: .
      targetRevision: 81.2.2
      helm:
        releaseName: kube-prometheus-stack
        valuesObject:
          prometheus:
            ingress:
              enabled: true
              ingressClassName: traefik
              paths:
                - /prometheus
              hosts:
                - localhost
            prometheusSpec:
              routePrefix: /prometheus
              retention: 15d
              storageSpec:
                volumeClaimTemplate:
                  spec:
                    accessModes:
                      - ReadWriteOnce
                    resources:
                      requests:
                        storage: 10Gi
          grafana:
            enabled: false
            ingress:
              enabled: true
              ingressClassName: traefik
              paths:
                - /grafana
            operator:
              dashboardsConfigMapRefEnabled: true
              matchLabels:
                grafana_dashboard: "1"
          alertmanager:
            enabled: true
            ingress:
              enabled: true
              ingressClassName: traefik
              paths:
                - /alertmanager
            alertmanagerSpec:
              routePrefix: /alertmanager
  destination:
    name: in-cluster
    namespace: monitoring
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
