# yaml-language-server: $schema=https://github.com/adobe-platform/kubernetes-json-schema/raw/refs/heads/master/master-standalone/application-argoproj-v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    chart: kube-prometheus-stack
    # https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
    repoURL: oci://ghcr.io/prometheus-community/charts
    targetRevision: 80.6.0
    helm:
      releaseName: kube-prometheus-stack
      valuesObject:
        prometheus:
          ingress:
            enabled: true
            ingressClassName: traefik
            paths:
              - /prometheus
            hosts:
              - localhost
          prometheusSpec:
            routePrefix: /prometheus
            retention: 15d
            storageSpec:
              volumeClaimTemplate:
                spec:
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 10Gi
        grafana:
          enabled: true
          ingress:
            enabled: true
            ingressClassName: traefik
            paths:
              - /grafana
        alertmanager:
          enabled: true
          ingress:
            enabled: true
            ingressClassName: traefik
            paths:
              - /alertmanager
          alertmanagerSpec:
            routePrefix: /alertmanager
  destination:
    server: "https://kubernetes.default.svc"
    namespace: monitoring
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
